@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
    @apply hidden;
}

.badge-offset {
    left: 30px;
}

.badgeGroup {
    display: flex;
    flex-direction: row;
}

.badgeRoot {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
}
.badgeRoot:hover {
    fill:red;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.badge-root {
    @apply relative inline-flex align-middle shrink-0 hover:fill-red-600 transition-colors;
}


.badgeIcon {
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.badge-icon {
    @apply fill-slate-700 dark:fill-slate-200 w-8 h-8 inline-block flex-shrink-0 text-[1.5rem] hover:scale-105 hover:fill-black hover:bg-slate-300 dark:hover:fill-white dark:hover:bg-slate-600;
}

.badgeContent {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 0.75rem;
    min-width: 20px;
    line-height: 1;
    padding: 0px 6px;
    height: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(25, 133, 123);
    color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
}

.badgeSpan {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.badge-content {
    @apply absolute text-center badge-offset top-0 bg-green-800 text-xs text-white font-semibold rounded-full min-w-[16px] pl-1 pr-1;
}

.badge-label {
    @apply  align-bottom inline invisible ml-2 text-base text-slate-800 dark:text-slate-200 sm:visible;
}

.badge {
    @apply inline-block mb-1 tracking-wide font-semibold rounded-full px-2 absolute;
}

.btn {
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}

.card {
    @apply bg-white rounded overflow-hidden shadow-md relative;
}