@tailwind base;
@tailwind components;
@tailwind utilities;

.svgFilter {
    filter:invert(0.5);
}

.svgSize {
    scale:800%;
}

.svgBroken {
    filter:invert(0.5);
    width:800%;
}

.svgBox {
    box-sizing:content-box;
    justify-content: center;
    display:flex;
}


.focus {
    @apply bg-slate-300 dark:bg-slate-600
}

.display-none {
    @apply hidden;
}

.btn {
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}

.card {
    @apply bg-white rounded overflow-hidden shadow-md relative;
}

.touch-ripple {
    @apply overflow-hidden pointer-events-none absolute z-0 inset-0 rounded-[inherit]
}

.icon-logo {
    @apply inline-block flex-shrink-0 text-[1.5rem] hover:scale-105 hover:fill-black dark:hover:fill-white;
}

.icon-menu {
    @apply inline-block flex-shrink-0 hover:scale-105 mx-2; 
}

.icon-btn {
    @apply scale-100 w-4 h-4 inline-block flex-shrink-0 text-[1.5rem];
}

.icon-dm {
    @apply fill-slate-700 dark:fill-white
}

.icon-hover {
    @apply hover:scale-105 hover:fill-black dark:hover:fill-white
}

.icon-badge {
    @apply inline-block scale-150
}

.navBar {
    @apply flex flex-col myApp:flex-row overflow-y-auto myApp:overflow-y-visible
}

.navBar-badge {
    @apply inline-block scale-150 myApp:hidden
}

.flexRow {
    @apply flex flex-row;
}

.icon-button {
    @apply mr-2 w-4 h-4 fill-current;
}

.star-hover {
    @apply hover:scale-125 hover:fill-green-600 dark:hover:fill-yellow-300
}